Flask
Flask-Cors
flask-openapi3
Flask-SQLAlchemy
nose2
pydantic
SQLAlchemy
SQLAlchemy-Utils
typing_extensions
Werkzeug==2.2.2
scikit-learn
pandas
scikit-learn
numpy
pytest
jupyter
matplotlib
imbalanced-learn